# Python bytecode
__pycache__/
*.py[cod]

# Django stuff
*.log
db.sqlite3
local_settings.py

# Virtual environment
venv/
env/
.venv/
ENV/

# Environment variables
.env

# Editor directories (optional)
.vscode/
.idea/
